/* dialog*/
.codialog-mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    text-align: center;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
    *background-color: transparent !important;
    _background-color: transparent;
}
/*鼠标按下去重置scrollTop*/
.codialog-show{overflow-y: hidden;height: auto !important;}
.codialog-frame{
    display: flex;
    position: absolute;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    border: 1px solid #DEDEDE\9;
    border: calc(0px);
    pointer-events: auto;
    z-index: 99999;
}
.codialog-frame .codialog-box{
    display: block;
    width: 520px;
    max-width: 100%;
    height: 100%;
}
.codialog-box .codialog-styles,
.codialog-box .codialog-fixed{
    height: inherit;
}
.codialog-fixed .codialog-styles-head{
    *background-color: #F6F8FB;
    background-color: #F6F8FB;
    padding: 15px 19px;
}
.codialog-styles-head .codialog-head-content{
    display: table;
    width: 100%;
    clear: both;
    text-align: left !important;
}
.codialog-head-content .codialog-head-title,
.codialog-head-content .codialog-head-close{
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.codialog-head-content .codialog-head-title{
    float: left;
    text-align: left;
    color: #9A9B9C;
}
.codialog-head-content .codialog-head-close{
    float: right;
    text-align: right;
    color: #cccccc;
}

.codialog-head-content .codialog-head-title > span,
.codialog-head-content .codialog-head-close > button{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
.codialog-head-content .codialog-head-title > span{
    margin-left: 0px;
    color: inherit;
    *color: #666;
    font-weight: normal;
}
.codialog-head-content .codialog-head-close > button{
    position: relative;
    *position: absolute;
    *right: 0;
    justify-content: center;
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 0;
    transition: color 0.1s ease-out;
    border: none;
    border-radius: 0;
    background: transparent;
    color: inherit;
    *color: #aaa;
    font-family: serif;
    font-size: 17px;
    line-height: 19px;
    cursor: pointer;
    overflow: hidden;
}
.codialog-fixed .codialog-styles-content {
    display: block;
    margin-top: 28px;
    margin-left: 64px;
    margin-right: 64px;
    font-size: 28px;
    overflow-y: hidden;
    color: #696969;
    text-align: center;
}
.codialog-styles-content .codialog-content-message{
    position: relative;
    *min-width: auto;
    *width: expression(this.offsetWidth < 1 ? 'auto' : '392px');
}
.codialog-icon {
  position: relative;
  display: flex;
  margin: 0 auto 20px;
  height: 76px;
  width: 76px;
  line-height: 76px;
  border-radius: 50%;
  border: 4px solid transparent;
  text-align: center;
  user-select: none;
  justify-content: center;
}
.codialog-success-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid hsla(98,55%,69%,.2);
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 2;
  left: -4px;
  top: -4px;
}
.codialog-icon-success .codialog-icon-success--line-small {
  position: absolute;
  display:inline-block;
  top: 48px;
  left: 16px;
  width: 20px;
  height: 5px;
  background-color: #a5dc86;
  transform: rotate(45deg);
}
.codialog-icon-success .codialog-icon-success--line-long {
  position: absolute;
  display:inline-block;
  top: 41px;
  left: 25px;
  width: 42px;
  height: 5px;
  background-color: #a5dc86;
  transform: rotate(135deg);
}
.codialog-icon-error {
  border-color: #f27474;
}
.codialog-icon-error--line-left{
  position: absolute;
  display:inline-block;
  top: 38px;
  width: 45px;
  height: 5px;
  border-radius: .125em;
  transform: rotate(45deg);
  left: 15px;
  background-color: #f27474;
}
.codialog-icon-error--line-right{
  position: absolute;
  display:inline-block;
  top: 38px;
  width: 45px;
  height: 5px;
  border-radius: .125em;
  transform: rotate(-45deg);
  right: 17px;
  background-color: #f27474;
}
.codialog-icon-warning {
  border-color: #facea8;
  color: #f8bb86;
}
.codialog-icon-error--text {
  color: #f8bb86;
  font-size: 56px;
}
.codialog-icon-info {
  border-color: #9de0f6;
}
.codialog-icon-info--text{
  color: #3fc3ee;
  font-size: 56px;
  transform: rotate(180deg);
}
.codialog-icon-question {
  border-color: #c9dae1;
  color: #87adbd;
}
.codialog-icon-question--text{
  font-size: 56px;
}
.codialog-icon-success,
.codialog-icon-error,
.codialog-icon-warning,
.codialog-icon-info,
.codialog-icon-question{
  display: none;
}
.codialog-content-message .codialog-message-text{
    width: 100%;
    font-size: inherit;
}
.codialog-fixed .codialog-styles-foot{
    display: block;
    margin-top: 30px;
    margin-bottom: 22px;
}
.codialog-styles-foot .codialog-foot-button{
    display: block;
}
.codialog-foot-button .codialog-button-group{
    text-align: center;
}
.codialog-button-group .group-btn{
    display: inline-block;
    margin: 0 8px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    *border-radius:  6px !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}
.codialog-foot-button .codialog-button-group button[confirm]{
    *background-color: #45B680 !important;
    background-color: #45B680;
}
.codialog-foot-button .codialog-button-group button[cancle]{
    display: none;
    *background-color: #16AEEE !important;
    background-color: #16AEEE ;
    background-color: rgba(22,174,238,1);
    color: #fff;
}
.codialog-foot-button .codialog-text-group{
    text-align: center;
    color: #585858;
}
/*兼容移动端*/
@media only screen and (max-width: 801px) {
  .codialog-frame{
    width: 96%
  }
  .codialog-frame .codialog-box {
    width: 100%
  }
}
/*animation assets*/

.animatedHalf {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}