{
    presets: [
        [
            '@babel/preset-env',
            {
                modules: false
            }
        ]
    ],
    plugins: [
    	'transform-es2015-typeof-symbol',
    	'@babel/plugin-transform-object-assign'
    ]
}